################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/slnx.sqlite
/.x64/Debug
Practica6/
x64/